<div class="container">
  <p class="title">Questions? Contact us.</p>
  <p class="break"></p>
  <div class="row">
    <div class="column">
      <a class="link" href="#">FAQS</a>
      <a class="link" href="#">Inverstor Relations</a>
      <a class="link" href="#">Ways to watch</a>
      <a class="link" href="#">Corporate Information</a>
      <a class="link" href="#">Netflix Originals</a>
    </div>
    <div class="column">
      <a class="link" href="#">Help Centre</a>
      <a class="link" href="#">Jobs</a>
      <a class="link" href="#">Terms of Use</a>
      <a class="link" href="#">Contact Us</a>
    </div>
    <div class="column">
      <a class="link" href="#">Account</a>
      <a class="link" href="#">Redeem Gift Cards</a>
      <a class="link" href="#">Privacy</a>
      <a class="link" href="#">Speed Test</a>
    </div>
    <div class="column">
      <a class="link" href="#">Media Centre</a>
      <a class="link" href="#">Buy Gift Cards</a>
      <a class="link" href="#">Cookie Preferences</a>
      <a class="link" href="#">Legal Notices</a>
    </div>
  </div>
  <p class="break"></p>
  <p class="text">Netflix India</p>
</div>
