@if (profile.displayName) { @if (isLoading) {
<app-loading [src]="profile.photoURL" />
} @else {
<app-header
  [user]="user"
  [isProfileSelected]="!!profile"
  src="joker1"
  [category]="currentCategory"
  (setCategory)="category.next($event)"
  (searchEvent)="onSearch($event)"
>
  <div class="feature">
    <h2>Watch Joker Now</h2>
    <p class="text">
      Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as
      he walks the streets of Gotham City. Arthur wears two masks -- the one he
      paints for his day job as a clown, and the guise he projects in a futile
      attempt to feel like he's part of the world around him.
    </p>
    <button class="play">Play</button>
  </div>
</app-header>
<app-cards [slideRows]="slideRows" [category]="currentCategory" />
} } @else {
<app-select-profile [user]="user" (setProfile)="clickProfile($event)" />
}
