.container {
  display: flex;
  border-bottom: 8px solid #222;

  .inner {
    h1 {
      font-size: 50px;
      line-height: 1.1;
      margin-top: 0;
      margin-bottom: 8px;
      color: white;
      text-align: center;
      @media (max-width: 600px) {
        font-size: 35px;
      }
    }
    display: flex;
    padding: 70px 45px;
    flex-direction: column;
    max-width: 815px;
    margin: auto;
    .item {
      color: white;
      margin-bottom: 10px;
      max-width: 700px;
      margin: auto;
      width: 100%;

      &:first-of-type {
        margin-top: 3em;
      }
    }
  }
}
