.container {
  display: flex;
  align-items: center;

  svg {
    color: white;
    cursor: pointer;
  }

  @media (max-width: 700px) {
    display: none;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: 0;

    img {
      filter: brightness(0) invert(1);
      width: 16px;
    }
  }

  input {
    background-color: #44444459;
    color: white;
    border: 1px solid white;
    transition: width 0.5s;
    height: 30px;
    font-size: 14px;
    margin-left: 0;
    padding: 0;
    opacity: 0;
    width: 0px;
    &.active {
      margin-left: 10px;
      padding: 0 10px;
      opacity: 1;
      width: 200px;
    }
  }
}
